.popup {
    position: fixed;
    z-index: 20;
    border: 1px solid lightgrey;
}
.popup-title {
    height: 60px;
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    border-bottom: 1px solid lightgrey;
}
.popup-title h3 {
    font-size: 18px;
    margin-left: 20px;
}
.popup-title i {
    font-size: 18px;
    margin-right: 20px;
    cursor: pointer;
}
.popup-content {
    height: calc(100% - 60px);
    background: #fff;
}
.mask {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    background: rgba(0,0,0,0.5);
}